version: 1
metadata:
  name: Passkey Authentication Flow
entries:
  - model: authentik_flows.flow
    id: authentication-passkey
    identifiers:
      slug: authentication-passkey
    attrs:
      name: Passkey Authentication
      title: Sign in with your passkey
      designation: authentication
      authentication: require_unauthenticated

  - model: authentik_stages_authenticator_validate.authenticatorvalidatestage
    id: authentication-passkey-validate
    identifiers:
      name: authentication-passkey-validate
    attrs:
      device_classes:
        - webauthn
      not_configured_action: deny
      webauthn_user_verification: required

  - model: authentik_stages_user_login.userloginstage
    id: authentication-passkey-login
    identifiers:
      name: authentication-passkey-login
    attrs:
      session_duration: seconds=2592000

  - model: authentik_flows.flowstagebinding
    identifiers:
      target: !KeyOf authentication-passkey
      stage: !KeyOf authentication-passkey-validate
      order: 10

  - model: authentik_flows.flowstagebinding
    identifiers:
      target: !KeyOf authentication-passkey
      stage: !KeyOf authentication-passkey-login
      order: 20
