apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tdarr
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd-image-updater.argoproj.io/image-list: server=ghcr.io/haveagitgat/tdarr:~2, node=ghcr.io/haveagitgat/tdarr_node:~2
spec:
  project: default
  sources:
    - repoURL: https://k8s-home-lab.github.io/helm-charts/
      chart: tdarr
      targetRevision: 5.0.1
      helm:
        valueFiles:
          - $values/helm/tdarr/values.yaml
    - repoURL: https://github.com/Gauransh-Homelab/Homelab.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: arr-stack
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=false
    - PrunePropagationPolicy=foreground
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
