apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: helm-apps-image-updater
  namespace: argo-cd
spec:
  namespace: argo-cd
  applicationRefs:
    # NOTE: cilium and kube-prometheus-stack are NOT here because their
    # image versions are tightly coupled to the chart version.
    # Those should be updated via chart version bumps (Renovate) only.
    - namePattern: "nfs-subdir-external-provisioner"
      images:
        - alias: "nfs-provisioner"
          imageName: "registry.k8s.io/sig-storage/nfs-subdir-external-provisioner:^v4.0"
    - namePattern: "alloy"
      images:
        - alias: "alloy"
          imageName: "grafana/alloy:^v1.4"
    - namePattern: "kube-prometheus-stack"
      images:
        - alias: "grafana"
          imageName: "grafana/grafana:^11.2"
    - namePattern: "loki"
      images:
        - alias: "loki"
          imageName: "grafana/loki:^2.9"
    - namePattern: "tdarr"
      images:
        - alias: "server"
          imageName: "ghcr.io/haveagitgat/tdarr:^2"
        - alias: "node"
          imageName: "ghcr.io/haveagitgat/tdarr_node:^2"
