apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
  namespace: jelly
  labels:
    app: jellyseerr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyseerr
  template:
    metadata:
      labels:
        app: jellyseerr
      annotations:
        backup.velero.io/backup-volumes: jellyseerr-config
    spec:
      containers:
        - name: jellyseerr
          image: ghcr.io/seerr-team/seerr:v3.0.1
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
          ports:
            - containerPort: 5055
              name: http
          env:
            - name: LOG_LEVEL
              value: "debug"
            - name: TZ
              value: "Asia/Singapore"
          volumeMounts:
            - name: jellyseerr-config
              mountPath: /app/config
              subPath: config
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: jellyseerr-config
          persistentVolumeClaim:
            claimName: jellyseerr-pvc
      restartPolicy: Always
