apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: dns-secrets
  namespace: traefik
spec:
  encryptedData:
    cloudflare-token: AgBxmCyIIv84Q1/aHOHwqEbhGIoK5bSAbMIzlFJSGHr86gcK1PwC/XTHZZtXaIrMkZ7nwuOGVRlnE4TAc/uLjpx94JxdJgyY8g8cUtcR+09TAg0MiTT77VYCYV3r1BixvAeF4Ybe1lzoPPmVHwaDoLW4GcBBhhzVQCNRn+e9hXIUp98BesR+pu16UsqAEccDHCSwBG8MciuBRMPU1iuirMXaLu0vHqN2dF8uFj2vGDP5TzWYTyVvsJR59i17LPmH0BJP5f17aSz2x6cRKskFKHRUMm0FMWSWO88ak3lYxjr7FiloNS4xKHWOPSGz6+pDBi2GV4Tueh5G0fVhQLLQvQhcKVmxXAVKBBU6HHrK7/q2O6IbtuNRZYN8zStMhQc8lH7+6mFgXJzjq2UPB+oWf5rAIdIWoBEhsRggdG68fWW5WSpfYdsGldJw8RKf5Pl8Xl9hUQ7x+53/daOORomNYFmkM+PIYe+RmbF9eNNy09Hzle8rSesWl4Ahf5euqTy0voTzox0Ak7VG8AuoAPxaLwdJnEVvEAz4xU6DIbSIAwuNLQh5E+9+Kyr6TrcP9MMuLz2hKqKMLTva5aH3BwtI3gwaZWFjTMrXgRf4ymLpsVgvMkwZaIn+TAIACzLBHpubO74WfQhPzTslPL9dku10etUD0v169+kq5+y8MzSm0sAzl7e9Jby26/A9IUTcZhTs2cNi6iXuXy6LN6M22ylUbOfzobdQ30DrXAHxeOaoPWkolADRBKnZ0Fww
    duckdns-token: AgCVfpYDTN/R8FjwADjmk/eMCzf7AdJZNxUzM0q56eYpe8LCMeNwE89LOCk20GyJS82GpteNs95v7lon1uYV+Krd9L40GDpFHAeBL6ZVF+Sh/qg0xuZTzLeGvrSG+9gsFX3GXV6vU0TATpR5DaOXIaSp0IbV6j4Zm2ITEBEg+D3O1vEcc8cMFs5AflmfHMLaZLMX6JYockDLhLxvN/4899wd7gV0wXxO8v10sqHDqmDfSc9hk2w/rJ1YyUnubNEBy7ZdWh0xoJUWNcxC9efR0ASRzY0M3YKa7VATKHSYRBUw6d35sW9pY/KZDniFuHFmdsN5r5KCaMDv/myvobwhUonir1Fop2zBkv4QwvjxToD64bAet78MX9a7HFp829SYLcOtv5uUjNLxr0vjYqKGRcL/hq5dBKQsUlxG2ViJixm9d4kDvQwn5FxxGfSMDoQnQ2gaHCRK/lGY7dnOmwGVS0zJXOkqTYx0koyKxXdiIX9IvmtsGo+JmhQ0eCu0PWCQ423dIMvplaiKQ2Ic5G1UkNW4bP1/UHYfuICy5woXfStki0V2sXIXbU5wv2FcppQX7nKAQugUNXEgAzM9ssNRUnE+oyjXB4lmNBtFA+YvMm9OQHlLTPWDmxt8UjfBCaklRNi33M8RYTU+PfOvSrerVzphBT4dKbMz45LDrAXLvn1OLjXe4Rfhv1R4k80E4uZAEyNGFvAyYkTGxWRl04VDHlPTelpJycjj5Q+8SbOpbseyqjngwFA=
  template:
    metadata:
      name: dns-secrets
      namespace: traefik
    type: Opaque
