---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: dns-secrets
  namespace: traefik
spec:
  encryptedData:
    cloudflare-token: AgCM5AE2XKAoiBfLNbRiiyF5E7EAMv7L9y1GjVYlUNgajxC0QECGDxqz54TZlI2uBMPhus6uPp3l8sxHOtYfepiyxArsxOcjpfVhcQnFI5+Ke5Uvo+Ba/7LpfFL/dV7uA9Y1RXr5S9SlukLJRWwhyG2C93c4YMGuKmdzQIRi3JaDgiF1UBgK6H8o91GXmB/93Y/GvYVFKHR9f9xBAkWvlZ3+v7sU/0JMW+6VDxeVPX3DVMx0yMJ1GhKwaAfkUxjpzBpxZgUTRMcpf65qsQmJR8IH3nfRtL26E6ylOv1RzQFuates20nbJQhfC7Faz9fbtdG8fUGuKAd8ygEAQ0b3JqzmdKdhZPVy5WNf++tgClZ68i5QbGkBXE7UeVu3HPe8pfvCo3SfqwCJ8ViTs3U9mcQQiWdclO1Zeoynhzr4vak5j3r/q3JFjrV3NhZilqLUGYC5W0WahvnnLof9Y4O/Hh7u3nZr56kahg/F6UWn/iyYhvbryMn0FRWNR+/ZQb0Ad5y+ss45yH4xkNrdze9Y2Oyr7YLt0w1rfTxAs15+oOJoc6vlI70hb66kWX/3BS5Z6NmIQBJsD1iJf2+A8I+QpCmR39SRaiA0YDrcTqpjnNh1hREno82K2mw+ksXfHtRldezlq++9uljdjys0EJ+TsxfjeijQsjdFT2lRO3szewB4N6gl29jMNcr+A5ZP+joazkYw0GxoWr1BjpviNc/70QWj48l69NK03v31JLp0g68oNHS/72dI/w==
    duckdns-token: AgBBEdEPymOX0Pj03rQLVHWnzWBtACHV0tNwJviWKLeSjVpHw7/MhPohTxTbtR4wRyKAdcOVJCWrwq7RlvbHda38dJRFz3QEJ40AZeapOkiy+XUK+2n/KQzolVyYy2cTUdlTG8IFWRxMj594bNRNQtj/GW+dWfXneyy0cq3trBID6YTR7FrQAfT1iNJdKCsFnPnVdECYWiXbwJ9b1ZB79kbiPI3ycQrwMqGfie11bEAw6eg0pYRYKLNnKRqBj2jFF4Msr+oU6CcU2+m5EmtrDVv7zFgjle9kety9gBQG8IYiVk0rO788daGoqVWnw5HDHw4ivCS6BrXUBOwHKvggJmzECZjz96JZvJbfifTAEcyWtv/7rgcGFx0Z919J+Huvc16QQSPmD5yOs+1gKe4hHAs+qt5LVKljw1NfVHGS07lgSko7dJgUhhl8eD76i8G8csUewuJzc7xFmWTSletSH7Sbt8qRDUpyA1bWhaIP5RtHfWi9jrE8O48OFR4OJK81ZOgDx5Q2v0onRhCN1DLy4Y8h8U/XGy0ommO9bUQCSrnJ7NvJsZZkGSOe0tDk6vRZZlocMb0sCRzpaqGY9I9DSajRdicCSAOR/J3IcOD3Nlqdm79XCpBf0q0RLK6oykxRQOY3nzuW/jPgr0tjDyUy3kLhQZ5H3KL+wrtSv7/wdfurHWv0F8hdYZujlAm4QyduZLAzfIXfLGhkkTFtyEideKKl8c0nyBSFZA+FSM/0uYvm
  template:
    metadata:
      name: dns-secrets
      namespace: traefik
    type: Opaque