apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 39.0.1
      helm:
        valueFiles:
          - $values/helm/traefik/values.yaml
    - repoURL: https://github.com/Gauransh-Homelab/Homelab.git
      targetRevision: main
      ref: values
    - repoURL: https://github.com/Gauransh-Homelab/Homelab.git
      targetRevision: main
      path: helm/traefik
      directory:
        include: "{dashboard-secret.yaml,dns-secrets-traefik.yaml}"
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=false
    - PrunePropagationPolicy=foreground
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m