apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: arr-stack
  labels:
    app: radarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
      annotations:
        backup.velero.io/backup-volumes: radarr-config
    spec:
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:6.0.4.10291-ls293
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Asia/Singapore"
          ports:
            - containerPort: 7878
              name: http
          volumeMounts:
            - name: radarr-config
              mountPath: /config
            - name: nfs-nas
              mountPath: /NAS
          livenessProbe:
            httpGet:
              path: /
              port: 7878
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 7878
            initialDelaySeconds: 15
            periodSeconds: 15
          resources:
            requests:
              memory: "256Mi"
              cpu: "10m"
            limits:
              memory: "512Mi"
              cpu: "100m"

      volumes:
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config
        - name: nfs-nas
          nfs:
            server: 192.168.10.101
            path: /volume1/NAS
