apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: database
spec:
  instances: 2
  primaryUpdateStrategy: unsupervised

  storage:
    size: 10Gi
    storageClass: synostorage

  monitoring:
    enablePodMonitor: true

  managed:
    roles:
      - name: n8n_user
        ensure: present
        login: true
        passwordSecret:
          name: n8n-user-secret
      - name: authentik_user
        ensure: present
        login: true
        passwordSecret:
          name: authentik-user-secret
