apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config
  namespace: jelly
  labels:
    app: jellyfin
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: "" # Empty to bind to our specific PV
  volumeName: jellyfin-config-pv # Bind to specific PV
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-data
  namespace: jelly
  labels:
    app: jellyfin
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: "" # Empty to bind to our specific PV
  volumeName: jellyfin-data-pv # Bind to specific PV
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-cache
  namespace: jelly
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: "" # Empty to bind to our specific PV
  volumeName: jellyfin-cache-pv # Bind to specific PV
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-log
  namespace: jelly
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: "" # Empty to bind to our specific PV
  volumeName: jellyfin-log-pv # Bind to specific PV
